<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	   		http://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- tag::beans[] -->
    <bean id="helloGreeter" class="com.bsg5.chapter2.HelloWorldGreeter">
        <property name="printStream" ref="printStream" />
    </bean>

    <bean id="printStream" class="java.io.PrintStream">
        <constructor-arg ref="baos"/>
        <constructor-arg value="true"/>
        <constructor-arg value="UTF-8"/>
    </bean>

    <bean id="baos" class="java.io.ByteArrayOutputStream" />
<!-- end::beans[] -->

</beans>